name: Deploy to Production

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
             node-version: 22
      
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: 'projects/24608035306/locations/global/workloadIdentityPools/github/providers/my-repo'
          service_account: 'github-deploy@escala-ism.iam.gserviceaccount.com'

      - run: npm ci
      - run: npm run build
      
      - name: Deploy to Firebase (Hosting + Rules)
        run: npx firebase-tools deploy --project escala-ism --only hosting,firestore:rules --force
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}


